@import 'vendor/fonts.css';
@import 'vendor/normalize.css';

html,
body {
  height: 100%;
  font-family: 'Gilroy', 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  /* background: 
  radial-gradient(#BEDDEF 30%, transparent 50%),
  radial-gradient(#ED7EFF 40%, transparent 50%),
  radial-gradient(rgba(227, 234, 215, 0.7), transparent 50%),
  radial-gradient(#EBA5DC 20%, transparent 50%),
  url(./images/Texture.png),
  linear-gradient(rgba(245,245,247, 1), rgba(245,245,247, 0.8)),
  linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01));

  background-size:  80vw 120vh, 90vw 90vh, 50vw 50vh, 50vw 50vh, cover, cover, cover;
  background-position: -150% -100%, -70% 580%, 110% 150%, 150% -20%, center 0, center 0, center 0;
  background-repeat: no-repeat;
  background-blend-mode: color;
  backdrop-filter: blur(84px); */


  background: 
  linear-gradient(#F5F5F7 20%, rgba(237, 126, 255, 0.4), rgba(255, 172, 136, 0.4), #F5F5F7) bottom/100% 100% no-repeat,
  url(./images/Mobile/Texture-mobile.png) center/cover no-repeat;
  /* -webkit-radial-gradient(50% 50%, ellipse, rgba(237, 126, 255, .9) 15%, rgba(255, 172, 136,0.4) 35%, transparent 60%) bottom/180% 80%  no-repeat; */

  backdrop-filter: blur(84px);
  background-blend-mode: darken;



   /* background: 
   
   -webkit-radial-gradient(50% 50%, ellipse, rgba(237, 126, 255,.4) 25%, rgba(255, 172, 136,0.7) 35%, transparent 60%) bottom/180% 80%  no-repeat; */


   /* background-size: 180% 80%;
   background-position: bottom; */
  /* background-repeat: no-repeat; */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
 
}

.page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
  box-sizing: border-box;
}

.questions {
  padding: 90px 0 123px;
  color: #1D1D1F;
  display: flex;
  flex-direction: column;
}

.questions__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.4px;
  font-weight: 700;
  align-self: center;
}

.questions__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.questions__list-item {
  padding-bottom: 15px;
  list-style: none;
  border-bottom: 1px solid #C6C6CB;
}

.questions__list-item-container {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.questions__list-item-title {
  margin: 0;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.4px;
  font-weight: 700;
}

.questions__list-item-button {
  padding: 0;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(images/Icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .4s;
}

.questions__list-item-button_content-visible {
  transform: rotate(45deg);
}

.questions__list-item-answer {
  margin: 0;
  max-width: 980px;
  font-size: 18px;
  line-height: 25px;
  max-height: 0;
  transition: max-height 0.2s;
  overflow: hidden;
}

.questions__list-item-answer_visible {
  padding-bottom: 15px;
}

@media (max-width: 1279px) {
  .main {
    padding: 0 50px;
  }
}

@media (max-width: 992px) {
  .main {
    padding: 0 30px;
  }

  .questions {
    padding: 58px 0 54px;
  }
}

@media (max-width: 768px) {
  .questions__title {
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.3px;
    font-weight: 600;
  }

  .questions__list-item-container {
    padding-right: 22px;
  }

  .questions__list-item-button {
    align-self: baseline;
  }

  .questions__list-item-title {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.45px;
    font-weight: 600;
  }

  .questions__list-item-answer {
    font-size: 16px;
    line-height: 21px;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 0 15px;
  }
}